@model IEnumerable<Sky_Roamer.Models.Tour_Package>

@{
    ViewBag.Title = "View_Package";
}

<h2>View Package</h2>

<p>
    @Html.ActionLink("Add New Package", "Add_Package")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PackageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Package_Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.PackageId.ToString(), "Details", new { id = item.PackageId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package_Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PackageId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PackageId })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Go to Profile","AgentProfile","TravelAgent")
@Html.ActionLink("Logout", "Login", "Home")
